<div ngClass="movie-list background">
    <mat-card *ngFor="let movie of movies;" ngClass="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openGenreDialog(
                movie.Genre.Name,
                movie.Genre.Description
            )">
                Genre
            </button>
            <button mat-raised-button color="primary" (click)="openDirectorDialog(
                movie.Director.Name,
                movie.Director.Bio,
                movie.Director.Birth,
                movie.Director.Death
            )">
                Director
            </button>
            <button mat-raised-button color="primary" (click)="openMovieSynopsisDialog(
                movie.Title, 
                movie.Description, 
                movie.ImagePath, 
                movie.Director.Name, 
                movie.Genre.Name
            )">
                Synopsis
            </button>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-mini-fab (click)="addToFavorites(movie._id)" class="fav-btn">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-mini-fab color='warn' (click)="removeFromFavorites(movie._id)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>