<div class="profile">
    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field color="primary" ngClass="form-input">
                    <input matInput [(ngModel)]="userData.Username" placeholder="username" type="text" name="Username"
                        required>
                </mat-form-field><br>
                <mat-form-field ngClass="form-input">
                    <input matInput [(ngModel)]="userData.Password"
                        placeholder="password must be entered to update user data" type="password" name="Password"
                        required>
                </mat-form-field><br>
                <mat-form-field ngClass="form-input">
                    <input matInput [(ngModel)]="userData.Email" type="email" placeholder="email" name="Email" required>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Optional" name="Birthday">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="backToMovies()">
                Back
            </button>
            <button mat-raised-button color="accent" (click)="updateUserProfile()">
                Update User Info
            </button>
        </mat-card-actions>
    </mat-card>
    <!-- TODO add get favorites function -->
    <!-- <mat-card *ngFor="let movie of favorites;" ngClass="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt={{movie.Title}} />
    </mat-card> -->
</div>